<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music_quiz">

    <queries>
        <package android:name="com.spotify.music" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Musicquiz">
        <activity
            android:name=".PlaylistSelectionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"  />
        <activity
            android:name=".EndGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_end_game"
            android:theme="@style/Theme.Musicquiz.Fullscreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="music.quiz"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>

</manifest>